*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}


.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* display: flex;  
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  border: 2px solid white;
  height: fit-content;
  width: 50vw;
  text-align: center;
  padding: 2vw;
}

h1{
  color: white;
  margin-bottom: 2vw;
}

.input-container{
  display: flex;
  justify-content: space-evenly;
  margin: 3vw;
  gap: 1vw;
}

#todo-input{
  color: #fff;
}

#add-task-btn{
  padding: 1vw 2vw;
  background-color: blueviolet;
  color: #fff;
  border:1px solid #000 ;
  border-radius: 5px;
}

#todo-list{
  color: #fff;
  border-radius: 5px;
}

#list{
  background-color: #201c1ca8;
  display: flex;
  justify-content: space-evenly;
  gap: 20vw;
  align-items: center;
  margin-bottom:3vw ;
  border-radius: 5px;
}

#delete-btn{
  padding: 1.5vw;
  background-color: rgba(248, 26, 26, 0.788);
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}